:root {
    /* White */
    --base-white: #FFFFFF;
    --white-700: #D3D8DF;
    --white-500: #E2E5E9;
    --white-300: #EBEDF0;

    /* Black */
    --base-black: #000000;
    --black-700: #3A3731;
    --black-500: #585041;
    --black-300: #4d4d4d;

    /* Navy */
    --base-navy: #01204e;
    --navy-700: #2D4C6C;
    --navy-500: #3c6d8d;
    --navy-300: #4c7d9d;

    /* Bege */
    --base-bege: #c9a25d;
    --bege-700: #e4c77a;
    --bege-500: #f6dcac;
    --bege-300: #f6dcac;

    /* Teal */
    --base-teal: #028391;
    --teal-700: #16707A;
    --teal-500: #80B8B8;
    --teal-300: #A0D0D0;

    /* Sun */
    --base-sun: #F79F44;
    --sun-700: #D88938;
    --sun-500: #FDD080;
    --sun-300: #EBD29B;

    /* Pink */
    --base-pink: #D92B66;
    --pink-700: #B81D4E;
    --pink-500: #F5A4C3;
    --pink-300: #F1A1B5;

    /* Green */
    --base-green: #14A538;
    --green-700: #0B7E28;
    --green-500: #76D386;
    --green-300: #A9E6B4;

    /* Orange */
    --base-orange: #EB641C;
    --orange-700: #CB5110;
    --orange-500: #F2A65D;
    --orange-300: #F5C493;

    /* Purple */
    --base-purple: #731CA5;
    --purple-700: #541877;
    --purple-500: #9C5BB7; 
    --purple-300: #B88FD3;
}