:root {

    /* Titles */
    --title-large: 700 3.125rem/2.5rem 'Inter', sans-serif;
    --title-medium: 600 2.5rem/2.188rem 'Inter', sans-serif;
    --title-regular: 400 2.188rem/1.875rem 'Inter', sans-serif;

    /* Text*/
    --text-large: 500 1.875rem/2.188rem 'Roboto', sans-serif;
    --text-medium: 400 1.5625rem/1.875rem 'Roboto', sans-serif;
    --text-light: 300 1.25rem/1.5625rem 'Roboto', sans-serif;

    /* Label */
    --label-large: 600 1.5rem/1.125rem 'Roboto', sans-serif;
    --label-medium: 500 0.875rem/1.25rem 'Roboto', sans-serif;
    --label-small: 500 0.75rem/1rem 'Roboto', sans-serif;

    /* Footer */
    --footer-large: 600 1.25rem/1.125rem 'Roboto', sans-serif;
    --footer-medium: 500 0.875rem/1.75rem 'Roboto', sans-serif;
    --footer-small: 400 0.75rem/1rem 'Roboto', sans-serif;
}