.card {
    background-color: var(--white-300);
    border: 0.125rem solid var(--white-700);
    border-radius: 0.625rem;
    padding: 1.375rem;
    max-width: 19.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

.line{
    text-align: left;
    justify-content: left;
}

.title {
    color: var(--black-500);
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    margin: 0 0 0.75rem 0;
}

.label {
    color: var(--base-pink);
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.value {
    color: var(--black-500);
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 0.2rem;
}
